
.header{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #f7f8f9;
}

.header .hd_top{
	background: #e0dfdf;
	overflow: hidden;
}

.header .hd_top .left{
	float: left;
}

.header .hd_top .left p{
	font-size: 14px;
	color: #666666;
	line-height: 30px;
	display: -webkit-inline-box;
}

.header .hd_top .right{
	float: right;
}

.header .hd_top .right ul li{
	float: left;
	margin-left: 14px;
	line-height: 30px;
}

.header .hd_top .right ul li a{
	display: inline;
}

.header .hd_top .right .login{
	color: #2e84eb;
}

.header .hd_middle{
	overflow: hidden;
	padding: 25px 0 33px 0;
}

.header .hd_middle .search ul li{
	float: left;
	font-size: 14px;
	color: #a9a9a9;
	margin-right: 27px;
	margin-top: 12px;
}

.header .hd_middle .search .hotSearch{
	color: #000;
}

.header .hd_middle .right{
	float: right;
}

.input-group{
	border: 3px solid #0066cc;
	width: 451px;
}

.input-group .form-control{
	width: 100%;
}

.btn-default{
	background: #0066cc;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-size: 20px;
	padding: 13px 12px;
}

.header .hd_middle .right .shop{
	display: block;
	float: right;
	margin-top: 12px;
	margin-right: 61px;
}

.header .hd_middle .badge{
	background: 0;
	color: #48a0ff;
}

.header .hd_bottom{
	background: #0099ff;
}

.header .hd_bottom .col-md-7 ul li{
	float: left;
	padding: 9px 0;
	margin-right: 76px;
}

.header .hd_bottom .col-md-7 ul li a{
	font-size: 16px;
	line-height: 31px;
	color: #fff;
}

/*.header .hd_bottom .row{
	position: relative;
}*/

.allpro{
	border: 0;
	line-height: 49px;
	font-size: 24px;
	color: #fff;
	background: #0066cc;
	padding: 0 24px;
}

.list{
	position: absolute;
	top: 218px;
	left: 112px;
	z-index: 9999;
}

.selected{
	display: none;
}

.dropdown{
	background: #cccccc;
	color: #666666;
}

.open{
	background: #3399cc;
	color: #fff;
}

.dropdown-toggle{
	background: 0;
	line-height: 73px;
	font-size: 16px;
	width: 207px;
	border: 0;
	border-bottom: 1px solid #fff;
}

.dropdown-menu.pull-right{
	top: -2px;
	left: 220px;
	width: 250px;
	background: #3399cc;
	padding: 23px 0 63px 0;
}

.dropdown-menu  li  a{
	color: #fff;
	font-size: 16px;
	display: -webkit-inline-box;
	padding: 3px 15px;
	width: 110px;
}


/*轮播*/

.carousel-indicators{
	left: 73.4%;
}

.carousel-indicators li{
	float:left;
	margin-right:10px; 
	width:50px;
	height:4px;
	background:#aa9cdb;
	cursor:pointer;
	border: transparent;
}

.carousel-indicators .active{
	float:left;
	margin-right:10px; 
	width:50px;
	height:4px;
	background:#29166f;
	cursor:pointer;
	border: transparent;
}/*鼠标放在上面的意思*/

.content{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #f7f8f9;
}

.content .newPro{
	width: 100%;
}

.content .container p:nth-child(1){
	font-size: 26px;
	color: #fff;
	background: url(../images/yuanjiaojuxing.png) no-repeat;
	line-height: 52px;
	display: -webkit-inline-box;
	padding: 0 29px;
}

.content .container .row .col-md-4 img{
	position: relative;
}

.content .container .row .col-md-4 img:hover{
	box-shadow: 0 0 10px;
}

.content .container .row .col-md-4 h3{
	font-weight: normal;
	font-size: 28px;
	color: #33699c;
	position: absolute;
	top: 222px;
	left: 79px;
}

.content .container .row .col-md-4 p{
	font-size: 16px;
	color: #666666;
	position: absolute;
	top: 312px;
	left: 37px;
	width: 330px;
}

.content .container .row .col-md-4 span{
	font-size: 26px;
	color: #2e84eb;
	position: absolute;
	bottom: 76px;
	left: 145px;
}

.content .container .row .col-md-4 button{
	width: 389px;
    position: absolute;
    left: 0;
    bottom: 2px;
    border: 2px solid #3399cc;
    border-radius: 2px;
    font-size: 32px;
    color: #666666;
    background: 0;
}

.content .product .title{
	margin-top: 160px;
}

.content .product .title h4{
	font-size: 60px;
}

.content .product .title h4 span{
	font-size: 26px;
	font-weight: normal;
}

.content .product .title p{
	font-size: 26px;
	margin-left: 108px;
}

.content .product .pro{
	background: url(../images/index05.png) no-repeat 50% 0;
	background-size: 90% 400px;
	padding-top: 4.9%;
}

.content .product:nth-child(4) .pro{
	background: url(../images/index06.png) no-repeat 50% 0;
	background-size: 90% 400px;
	padding-top: 4.9%;
}

.content .product:nth-child(5) .pro{
	background: url(../images/index07.png) no-repeat 50% 0;
	background-size: 90% 400px;
	padding-top: 4.9%;
}

.content .product:nth-child(6) .pro{
	background: url(../images/index08.png) no-repeat 50% 0;
	background-size: 90% 400px;
	padding-top: 4.9%;
}

.content .product:nth-child(6) .pro .col-md-6 p{
	font-size: 18px;
	color: #666666;
	width: 188px;
	position: absolute;
	top: 78px;
	right: 26px;
}

.content .product .pro .col-md-6 img{
	position: relative;
}

.content .product .pro .col-md-6 h5{
	font-size: 32px;
	color: #666666;
	position: absolute;
	top: 78px;
	right: 57px;
}

.content .product .pro .col-md-6 p{
	font-size: 18px;
	color: #666666;
	width: 188px;
	position: absolute;
	top: 160px;
	right: 26px;
}

.content .product .pro .col-md-6 span{
	font-size: 32px;
	color: #2e84eb;
	position: absolute;
	bottom: 38px;
	right: 39px;
}

.content .product .pro .col-md-3 img{
	position: relative;
}

.content .product .pro .col-md-3 h5{
	font-size: 18px;
	color: #666666;
	position: absolute;
	top: 188px;
	right: 89px;
	width: 130px;
	text-align: center;
}

.content .product .pro .col-md-3 p{
	font-size: 14px;
	color: #666666;
	position: absolute;
	bottom: 77px;
	right: 71px;
	width: 170px;
	text-align: center;
}

.content .product .pro .col-md-3 span{
	font-size: 24px;
	color: #2e84eb;
	position: absolute;
	bottom: 18px;
	right: 92px;
}

.footer{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #f7f8f9;
}

.footer .footer_top .row ul li{
	float: left;
	margin-top: 116px;
}

.footer .footer_top .row ul li img{
	margin-left: 26px;
}

.footer .footer_top .row ul li p{
	display: inline;
	font-size: 30px;
	color: #333333;
}

.footer .footer_middle .row ul li p{
	font-size: 16px;
	color: #666666;
	margin-top: 102px;
}

.footer .footer_middle .row ul li a{
	font-size: 14px;
	color: #999999;
	margin-top: 25px;
}

.footer .footer_bottom p{
	font-size: 16px;
	color: #999999;
	text-align: center;
	line-height: 56px;
	margin-top: 72px;
}



